<span id = "punchline">SkafferiTracker - The best way to track your skafferi!</span>
<span id = "searchbar">
	<input type = "text" class = "small long" name = "search" placeholder = "Search for product, manufacturer etc.">
</span>