a{
	color:#000;
	text-decoration:none !important;
}
header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:40px;
	background-color: #f7f7f7;
	border-bottom:1px solid #e6e6e6;
	color:#444;
	
	padding-left:20px;
}
main{
	padding:50px 20px 50px 20px;
}
footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	background-color: #f7f7f7;
	border-top:1px solid #e6e6e6;
	color: #444;
	text-align:center;
	
	padding-left:20px;
	line-height:40px;
}
input[type="text"],input[type="number"]{
	padding:4px 8px;
	margin:4px 0px;
	font-size:16px;
}
input[type="number"]{
	width:50px;
}
input[type="number"].large{
	width:70px;
}
input[type=text].small{
	font-size:12px;
}
input[type=text].long{
	width:250px;
}
input[type=button],input[type=submit]{
	display:inline-block;
	width:100px;
	margin:4px;
	padding:12px 0px;
	overflow:hidden;
	border-radius:4px;
	text-align:center;
	background-color:#13a57a;
	color:#fff;
	border:none;
}
input[type=submit]{
	background-color:#64ae11;
	margin-top:5px;
}
input[type=button]:disabled,input[type=submit]:disabled{
	background-color:#a0a0a0;
}
input[type=button]:hover,input[type=submit]:hover{
	cursor:hand;
	cursor:pointer;
	opacity:0.7;
}
input[type=button]:disabled:hover,input[type=submit]:disabled:hover{
	cursor:no-drop;
	opacity:1;
}
select{
	width:140px;
	padding:6px 0px 5px 5px;
	margin:5px 0px;
}
.clickable:hover{
	cursor:pointer;
	cursor:hand;
	opacity:0.8;
}
.center{
	text-align:center;
}

label.radiobutton{
	display:inline-block;
	width:100px;
	margin:4px;
	border-radius:4px;
	overflow:hidden;
}
label.radiobutton span{
	display:block;
	text-align:center;
	padding:12px 0px;
	background-color:#EFEFEF;
	color:#fff;
	transition: all 1s;
	font-size:12px;
}
label.radiobutton input{
	position:fixed;
	top:-20px;
}
label.radiobutton input:checked + span{
	font-size:20px;
}
label.radiobutton.small input:checked + span{
	font-size:16px;
}
label.radiobutton input:checked + span.green{
	background-color:#64ae11;
}
label.radiobutton input:checked + span.red{
	background-color:#a01010;
}
label.radiobutton input:checked + span.blueish{
	background-color:#13a57a;
}
label.radiobutton input:checked + span.yellow{
	background-color:#888805;
}
label.radiobutton input:checked + span.orange{
	background-color:#ff8820;
}
label.radiobutton input:disabled + span:hover{
	background-color:#dddddd;
	cursor:no-drop;
}
label.radiobutton:hover{
	cursor:hand;
	cursor:pointer;
}

#searchbar{
	width:12%;
	margin-left: 15%;
}

div.iconWrapper{
	display: inline-block;
	width: 300px;
	padding:20px 10px;
	margin-right:50px;
}
div.iconWrapper > img{
	width:90%;
	margin-left:5%;
	padding-bottom:10px;
}
div.iconWrapper > div.name{
	text-align:center;
	padding-bottom:10px;
}

#eventinputs > div{
	display:none;
	transition:all 1s;
}

#addButton{
	position:absolute;
	right:4%;
	top: 70px;
	width:50px;
	height:50px;
	line-height:50px;
	font-size:32px;
}
.button{
	width:150px;
	height:30px;
	line-height:30px;
	font-size:16px;
	text-align:center;
	background-color:#64ae11;
	color:#fff;
}
.button.rounded{
	border-radius:4px;
}
.button.round{
	border-radius:50%;
}
.addwindow{
	position:fixed;
	top:150px;
	right:30px;
	width:300px;
	height:400px;
}
.addwindow.high{
	top:100px;
}
.hiddenwindow{
	display:none;
}
.message{
	width:250px;
	padding:10px;
	margin:auto;
	margin-bottom:10px;
	text-align:center;
	border:2px solid #ddd;
}
.message.error{
	background-color:#a00202;
	color:#fff;
	border-color:#a01010;
}
.message.success{
	background-color:#028002;
	color:#fff;
	border-color:#108810;
}
.input-group{
	display:block !important;
}

@media screen and (max-width: 700px){
	#punchline{
		display:none;
	}
}