<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<% if(messages.error){ %>
				<div class = "message error">
					<%= messages.error %>
				</div>
			<% } %>
			<% if(messages.msg){ %>
				<div class = "message success">
					<%= messages.msg %>
				</div>
			<% } %>
			<div class = "center">
				<form action = "#" method = "POST" enctype = "multipart/form-data">
					<input type = "text" name = "name" placeholder = "New place name"><br>
					<input type="file" name = "icon" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Select place icon">
					<input type = "submit" value = "Add place">
				</form>
			</div>
		</main>
		
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>