<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<% if(messages.msg){ %>
				<div><%= messages.msg %></div>
			<% } %>
			<form action = "#" method = "POST">
				<input type = "text" name = "searchword" placeholder = "Searchword (e.g. Bregott)" autofocus><br>
				<input type = "submit" value = "Test it">
			</form>
		</main>
		
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>